.box{
    width: 510px;
    text-align: center;
    margin: 30px auto;
    background-color: rgb(79, 190, 181);
    border-radius: 20px;
    border: solid black;
    

}
.input-stye{
    width: 100%;
    box-sizing: border-box;
    font-size: medium;
    font-weight: bolder;
    border-radius: 10px;
    margin-left: -1px;

}
.switch{
    width: 100px;
    height: 30px;
    background-color: greenyellow;
    border-radius: 10px;
    margin: 20px;
    font-weight: bolder;
    font-size: medium;
}
.container{
    width: 510px;
    text-align: center;
    margin: 30px auto;
    border-radius: 20px;
    
}
.input:checked+p{
    text-decoration: line-through;
    text-decoration-color: rgb(194, 47, 11);

}
.boxtwo{
    display: flex;
    width: 100%;
    border: solid black;
    border-radius: 20px;
    background-color: rgb(130, 125, 184);
    margin: 10px;

}

input{
    width: 20px;
    height: 20px;
    margin: 20px;

    

}
.btn{
    width: 40px;
    height: 20px;
    background-color: rgb(252, 65, 8);
    border-radius: 5px;
    margin-left: 450px;
    font-weight: bolder;
    font-size: medium;
    position: fixed;
    margin-top: 18px;

}